#about {

    padding-top: 12rem;
    padding-bottom: 10rem;
}

#softskill {

    padding-top: 5rem;
    padding-bottom: 10rem;
}

#tool {

    padding-top: 5rem;
    padding-bottom: 10rem;
}

#certificates {

    padding-top: 5rem;
}

#certificates-card {

    padding-top: 5rem;
    padding-bottom: 6rem;
}

.carousel-indicators {

    top: 350px;
}

#copyright {

    padding-top: 6rem;
}